/node_modules
custom/toolbox/toolbox.js
custom/blocks.js
parser/bmgen_parser.js
deps.js
/public
__pycache__
*.egg-info
/out
/programs
/build
/src/bmgen/web/client/node_modules
/src/bmgen/web/client/public/node_modules
/sphinx/_build
/sphinx/bmgen
/src/bmgen/web/client/public/docs/
/src/bmgen/web/client/public/examples/
