body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#outputarea table,
#outputarea th,
#outputarea td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    text-align: center;
    padding: 5px;
}

.config table,
.config th,
.config td {
    border: none;
    text-align: left;
}

#wrapper {
    height: 95%;
}

#codearea {
    margin-right: 10px;
    height: 70%;
    width: 49%;
    float: left;
}

#outputarea {
    margin-right: 10px;
    height: 70%;
    width: 49%;
    float: right;
}

#fileupload {
    display: none;
}

button,
select,
input {
    background-color: white;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:hover,
.active {
    background-color: lightgray;
}

#wrapper>div {
    margin: 10px;
}

.error {
    color: red;
}

.right {
    float: right;
}

.config {
    margin-bottom: 5px;
}

#more-config {
    display: none;
}